<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".examenes"></activity>
        <activity android:name=".trueFalseResult" />
        <activity android:name=".trueFalse" />
        <activity android:name=".quiz" />
        <activity android:name=".videos" />
        <activity android:name=".textoNormas" />
        <activity android:name=".normas" />
        <activity android:name=".piso" />
        <activity android:name=".informativas" />
        <activity android:name=".reglamentarias" />
        <activity android:name=".preventivas" />
        <activity android:name=".Seleccion_Senales" />
        <activity android:name=".Senales" />
        <activity android:name=".Ninos" />
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>